<html>
<head>
  <%- include('../partials/header.ejs') %>
  <script src="/scripts/register.js" type="application/javascript"></script>
</head>
<body>
  <%- include('../partials/nav.ejs') %>
    <div class="p-5 text-center bg-light" style= "margin-top: 50px;">
      <h2 class="mb-3">Lakewood Fun Meet: Register</h2>
    </div>
    <p class="d-flex p-2"><a href="/Login">
        Already Registered?
      </a>
    </p>
    <form id="frmRegister" action="/register" method="post" onsubmit="submitScript(e);">
      <div class="container-justify-evenly">
        <div class="row g-1">
          <div class="col">
            <span class=" p-2"><b>Kids can use their parent's email too!</b></span>
          </div>
        </div>
        <div class="row g-1">
          <div class="col">
            <div class="form-outline">
              <input id="iEmail" type="email" name="Email" id="email" class="form-control" required />
              <label class="form-label" for="email">Email</label>
            </div>
          </div>
        </div>
        <div class="row g-1">
          <div class="col-sm-5">
            <div class="form-outline">
              <input id="iPassword1" type="password" name="Password" class="form-control" required />
              <label class="form-label" for="iPassword1">Password</label>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="form-outline">
              <input id="iPassword2" type="password" name="Password" class="form-control" required />
              <label class="form-label" for="iPassword2">Confirm Password</label>
            </div>
          </div>
        </div>
        <div class="row g-1">
          <div class="col-sm-7">
            <div class="form-outline">
              <input id="iFirstName" type="text" name="FirstName" class="form-control" required/>
              <label class="form-label" for="iFirstName">First Name</label>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="form-outline">
              <input id="iNickName" type="text" name="NickName" class="form-control" />
              <label class="form-label" for="iNickName">Nick Name (optional)</label>
            </div>
          </div>
        </div>
        <div class="row g-1">
          <div class="col-sm-9">
            <div class="form-outline">
              <input id="iLastName" type="text" name="LastName" class="form-control" required />
              <label class="form-label" for="iLastName">Last Name</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-outline">
              <input id="iAge" type="text" name="Age" minlength="1" maxlength="2" class="form-control" required />
              <label class="form-label" for="iAge">Age</label>
            </div>
          </div>
        </div>
        <div class="row g-5">
          <div class="col-sm-3">
            <button type="submit" id="btnRegister" class="btn btn-primary btn-block mb-4" value="Register">Register</button>
          </div>
        </div>
      </div>
    </form>
</body>
</html>